<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>random-user-api</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        body {
            padding: 1% 10% 5% 10%;
        }
    </style>
</head>
<body>
<p class="h2" style="text-align: center"><a href="https://randomuser.me/">randomuser.me</a> api summary of 1000 user</p>
<hr/>
<p class="h1 text-danger">male</p>
<table class="table table-bordered table-hover table-sm">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nationality</th>
        <th scope="col">Age 0-30</th>
        <th scope="col">Age 30-50</th>
        <th scope="col">Age 50-above</th>
    </tr>
    </thead>
    <tbody>

    <% Object.keys(male_summary).forEach((c, i) => {
    %>
        <tr>
            <th scope="row"><%= i %></th>
            <td> <%= c %>   </td>
            <td> <%= male_summary[c]['0_30'] %>   </td>
            <td> <%= male_summary[c]['30_50'] %>   </td>
            <td> <%= male_summary[c]['50_above'] %>   </td>
        </tr>
    <% }); %>
    </tbody>
</table>

<br/>
<p class="h1 text-danger">female</p>
<table class="table table-bordered table-hover table-sm">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nationality</th>
        <th scope="col">Age 0-30</th>
        <th scope="col">Age 30-50</th>
        <th scope="col">Age 50-above</th>
    </tr>
    </thead>
    <tbody>
    <% Object.keys(female_summary).forEach((c, i) => {
    %>
        <tr>
            <th scope="row"><%= i %></th>
            <td> <%= c %>   </td>
            <td> <%= female_summary[c]['0_30'] %>   </td>
            <td> <%= female_summary[c]['30_50'] %>   </td>
            <td> <%= female_summary[c]['50_above'] %>   </td>
        </tr>
    <% }); %>
    </tbody>
</table>
</body>
</html>
